body {
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-image: url(imagenes/garden.png);
    background-position: center;
    height: 1000px;
}

#status {
    width: 100%;
    text-align: start;
    position: absolute;
    font-size: 3rem;
}

#game {
    width: 100vw;
    height: 100vw;
    position: relative;
}

.zombi {
    width: 500px;
    height: 200px;
    background: url(imagenes/ZombiHD.webp) ;
    background-size: contain;
    position: absolute;
    background-repeat: no-repeat;
}

.zombi.hit {
    background-image: url(imagenes/bonk.png);
}

.zombi-dissapear {
    opacity: 0;
    transition: opacity 0.2s;
}